{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>07akioni's website</title>
        <meta charset="utf-8">
        <meta http-equiv="content-language" content="zh-CN" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{% static 'blog/bootstrap-3.3.6-dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'blog/non-responsive.css' %}">
        <link rel="stylesheet" href="{% static 'blog/07akioni.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container" style="font-family:Adobe Gothic Std">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/blog">07akioni</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/lab">Lab</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="active"><a href="/comment">Comment</a></li>
                </ul>
            </div>
        </nav>
        <div class="container blog-content">
            <div class="col-xs-9">
                <div>
                    <form action="/comment/create/" method="post">{% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-addon">Comment
                            </span>
                            <textarea class="form-control" rows="5" aria-describedby="basic-addon1" type=text name=body></textarea><br/>
                        </div>
                        <br/>
                        <button type="submit" style="position:relative;left:750px" class="btn btn-info">Submit</button>
                    </form>
                </div>
                <hr/>
                {% for post in posts %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="entry-text-body">
                                <div class="entry-text">
                                    <p>{{ post.body | linebreaks}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="entry-info-body">
                                <p style="color:grey;font-size:15px">{{ post.timestamp }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-xs-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img alt="07akioni" src="{% static 'blog/07akioni.jpg' %}" class="profile"></img>
                        <p class="profile">
                            07akioni<hr>菜鸡一只
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="announce-home">
            Powered by Django, Bootstrap
        </footer>
    </body>
</html>
